    <div class="images">
      <% @images.each do |image| %>
        <div id="image_<%= image.id %>" class="grid__cell image-tile">
          <%= link_to url_for(image), 'data-fancybox-href' => image.video_url, 'data-fancybox-group' => "image-tile-gallery", :class => :fancybox  do %>
           <% unless image.media_type == "video" %>
            	<%= image_tag(image.jpeg, :class => "instagram-img " + image.id.to_s, :alt => image.description, :data => {:battles_count => image.battles_count, :win_pct => image.win_pct, :popularity => image.popular_score, :staff_like => image.staff_like, :like_votes_count => image.like_votes_count, :media_type => image.media_type}) %>
            <% else %>
            	<%= video_tag(image.video_url, :autoplay => "true", :muted => "true", :loop => "true", :class => "instagram-img " + image.id.to_s, :height => "100%", :width => "100%", :poster => image.jpeg, :data => {:battles_count => image.battles_count, :win_pct => image.win_pct, :popularity => image.popular_score, :staff_like => image.staff_like, :like_votes_count => image.like_votes_count, :media_type => image.media_type}) %>
            <% end %>
          <% end %>

          <%= render "/layouts/lentil/image_popup", :image => image  %>
          <% if params[:controller] == "lentil/thisorthat" %>
            <div class="battle-leader-overlay"><%= number_to_percentage(image.win_pct, :precision => 0) %></div>
          <% end -%>
        </div>
      <% end -%>
    </div>
