    <div class="images">
      <% @images.each do |image| %>
        <div id="image_<%= image.id %>" class="grid-cell image-tile">
          <%= link_to url_for(image), 'data-fancybox-href' => image.jpeg, 'data-fancybox-group' => "image-tile-gallery",  :class => :fancybox  do %>
            <%= image_tag(image.jpeg, :class => "instagram-img " + image.id.to_s, :alt => image.description, :data => {:battles_count => image.battles_count, :win_pct => image.win_pct, :popularity => image.popular_score, :staff_like => image.staff_like, :like_votes_count => image.like_votes_count}) %>
          <% end %>

          <%= render "/layouts/lentil/image_popup", :image => image  %>
          <% if params[:controller] == "lentil/thisorthat" %>
            <div class="battle-leader-overlay"><%= number_to_percentage(image.win_pct, :precision => 0) %></div>
          <% end -%>
        </div>
      <% end -%>
    </div>
