<%= title @title %>
<script type="text/javascript">
  addanimatedimages();
</script>
<div class="wrapper">
  <div class="grid">
    <div id="ri-grid" class="ri-grid ri-grid-size-2 grid__cell animated-images staff-picks-animated" style="padding:0; margin:0;">
      <ul>
      <% @images.each do |image| %>
        <li class="image-animate-tile">
          <a href="#">
            <% unless image.media_type == "video" %>
              <%= image_tag(image.jpeg, :class => "instagram-img") %>
            <% else %>
              <%= video_tag(image.video_url, :autoplay => "true", :muted => "true", :loop => "true", :poster => image.jpeg, :class => "instagram-img " + image.id.to_s, :height => "100%", :width => "100%", :data => {:media_type => image.media_type}) %>
            <% end %>
          </a>
        </li>
      <% end -%>
      </ul>
    </div>
    <div class="grid__cell animated-images-branding">
      <h1 class="name"><%= application_name %></h1>
      <h1 class="url"><%= link_to main_app.root_url, main_app.root_url %></h2>
    </div>
  </div>
</div>