 <% content_for :feed_auto_discovery do %>
   <%# FIXME: Let's revisit this for whether it ought to be on each page and what the purpose is. %>
   <%= auto_discovery_link_tag(:rss, params.dup.merge({:format => :rss}) ) %>
   <%= auto_discovery_link_tag(:atom, params.dup.merge({:format => :atom}) ) %>
<% end -%>
<% title @title %>
<%= render :partial => "/layouts/lentil/top_navigation" %>
<section class="wrapper">
  <div class="grid">
    <div class="grid__cell header">
      <h1><%= link_to application_name, main_app.root_path %></h1>
      <ul class="header_nav">
        <li><%= nav_link t('lentil.nav.battle'), :thisorthat_battle %></li>
        <li><%= nav_link t('lentil.nav.about'), :pages_about %></li>
      </ul>
      <ul class="header_nav">
        <li><%= nav_link t('lentil.nav.recent'), main_app.root_path %></a></li>
        <li><%= nav_link t('lentil.nav.popular'), :images_popular %></li>
        <li><%= nav_link t('lentil.nav.staff_picks'), :images_staff_picks %></li>
      </ul>
    </div>
    <%= render :partial => "/lentil/images/image_tiles" %>
  </div>
<% if params[:controller] == "lentil/images"  %>
  <div id="paging">
    <%= will_paginate @images %>
  </div>
<% end -%>
</section>
<div id="spinner-overlay" style="display:none;"></div>